<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WOOHOO! WELCOME <span id="user"></span> , HERE ARE YOUR CREDENTIALS</h1>
    <p>YOUR USERNAME : <span id="loginName"></span></p>
    <p>YOUR PASSWORD : <span id="loginPass"></span></p>
    <button style="border-radius: 40px; padding: 20px;"><a href="/login">START WITH YOUR JOURNEY</a></button>
    <script>
        let loginName = "<%=loginName%>";
        let loginPass = "<%=loginPass%>";
        console.log(loginName, loginPass);
        document.getElementById("user").innerHTML = loginName;
        document.getElementById("loginName").innerHTML = loginName;
        document.getElementById("loginPass").innerHTML = loginPass;
    </script>
</body>
</html>