<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div id="failed"></div>
    <form class="" action="/signup" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter name"><br>
        <label for="age">Section</label>
        <input type="text" name="section" id="section" placeholder="Enter Age"><br>
        <label for="Class">Class</label>
        <input type="text" name="class" id="class" placeholder="Enter Class"><br>
        <label for="roll">roll</label>
        <input type="text" name="roll" id="roll" placeholder="Enter Roll"><br>
        <label for="School">School</label>
        <input type="text" name="school" id="school" placeholder="Enter School"><br>
        <button type="submit">Submit</button>
    </form>
</body>
<script src="script.js"></script>
</html>